// Adding ROBOTO Font Style
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
 
*{
  font-family: "Roboto-Regular" !important;
  font-size: 19px;
  font-weight: 400;
}
/* stylelint-disable no-descending-specificity */
.bg-gray {
  background-color: var(--gray-200);
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
}

:focus {
  outline-color: var(--primary);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.btn-link {
  &:focus {
    text-decoration: none;
  }
}

.back {
  &:hover {
    text-decoration: none;

    .back-icon {
      transition: transform 0.3s ease-out;
      transform: translateX(-4px);
    }
  }
}

.pointer {
  cursor: pointer;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-col-3 {
  column-gap: 1.5rem;
}

.grab {
  cursor: grab;
}

thead th,
legend,
label,
.btn {
  font-family: var(--font-medium);
}

strong,
b,
.font-weight-bold {
  font-family: var(--font-semibold);
}

th {
  white-space: nowrap;
}

.vue-grid-layout {
  transition: none !important;
}

.vue-grid-item {
  transition: none !important;
}

.loader {
  height: calc(100vh - 2 * #{var(--opbar-height)});
  display: flex;
  align-items: center;
  justify-content: space-around;

  .pending {
    width: 30px;
  }

  .logo {
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130px;
  }
}

.ProseMirror.ProseMirror-focused {
  outline: none;
}

// Pagination
.page-item {
  &.disabled {
    cursor: not-allowed;
  }
}

// Rich text content styling
.rt-content {
  &.editor {
    border-radius: 4px;
    border: 2px solid var(--light);
  }

  .editor__content {
    min-height: 200px;
  }

  .btn {
    width: 60px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  // blockquote
  blockquote {
    border-left: 3px solid rgba(var(--black), 0.1);
    padding-left: 0.8rem;
    font-style: italic;
  }

  // Code
  pre {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
  }

  // todo list - https://github.com/scrumpy/tiptap/blob/master/examples/Components/Routes/TodoList/index.vue
  li[data-type="todo_item"] {
    display: flex;
    flex-direction: row;
  }

  .todo-checkbox {
    border: 2px solid var(--black);
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 0.3rem;
    user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.4s background;
  }

  .todo-content {
    flex: 1;

    > p:last-of-type {
      margin-bottom: 0;
    }

    > ul[data-type="todo_list"] {
      margin: 0.5rem 0;
    }
  }

  li[data-done="true"] {
    > .todo-content {
      > p {
        text-decoration: line-through;
      }
    }

    > .todo-checkbox {
      background-color: var(--black);
    }
  }

  li[data-done="false"] {
    text-decoration: none;
  }
}

fieldset.required {
  &.error {
    legend::before {
      color: var(--danger);
    }
  }

  label::after {
    content: "*";
    display: inline-block;
    color: var(--primary);
    width: 10px;
    height: 18px;
    overflow: hidden;
  }
}

.alert-holder {
  position: absolute;
  top: 0;
  width: 100%;

  .alert {
    z-index: 1040;
    box-shadow: 0 0 2px 0 rgba(var(--secondary), 0.75);
  }
}

.b-toaster.b-toaster-bottom-right {
  bottom: 75px;
}

// to remove the gap on top of the sticky header table
.b-table-sticky-header > .table.b-table > thead > tr > th {
  border: 0;
}

.modal-content {
  &.card {
    background-color: var(--white);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
  }
}

.b-form-tag {
  align-items: center !important;
}

.permissions-dropdown {
  li {
    line-height: initial;
  }

  .dropdown-item {
    padding: 0;
  }
}

.col-form-label {
  padding: 0;
  padding-right: 5px !important;
}

.form-row {
  margin: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Supporting CSS to improve print-to-PDF option
@media print {
  @page {
    size: auto;
  }

  body {
    margin: 0;
  }

  header, footer, aside, nav {
    display: none;
  }

  .block {
    break-inside: avoid;
    width: 100%;
  }
}

header .header-navigation{
  background-color: white;
}
 
a.nav-item{
  align-items:center;
  border: 3px solid white;
  padding-left: 24px !important;
  padding-right: 24px !important;
  --primary: #3D6ECF !important;
 
  img{
    height: 40px !important;
    width: 40px !important;
  }
}
 
div.nav-sidebar{
  display: flex !important;
  width: 100% !important;
  height: 80px !important;
  line-height: normal;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
 
main{
  background-color: #FBFBFB
}

.header-navigation div.nav-icon svg {
position: absolute;
  }

.dropdown-style button{
    background-color: white;
    color: #525252 !important;
    border-color: none;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 0px;
  }

.dropdown-toggle {
  background-color: white !important;
  border-color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.dropdown-menu{
  border-color: white;
}

a.nav-item{
 color: #525252 !important;
 font-size: 19px !important;
button.btn{
  color: #525252;
  font-size: 19px !important;
  padding: 0px !important;
}
}

a.nav-item:hover{
  border-bottom-color:#3D6ECF !important;
  color: #3D6ECF !important;
  button.btn {
    color: #3D6ECF !important;
  }
}

a.nav-active{
     border-bottom-color:#3D6ECF;
     color: #3D6ECF !important;
     button.btn {
      color: #3D6ECF !important;
    }
 }

 a.nav-item button.btn:focus{
  color: #3D6ECF !important;
}

.dropdown-menu li :hover{
  color: #3D6ECF !important;
}

.dropdown-menu li :active{
  background-color: white;
}

.dropdown-menu li a{
  color: #525252 !important;
}

.nav-sidebar a ul.dropdown-menu{
  transform: translate3d(0px, 58px, 0px) !important;
  margin-left: -51px;
}

.nav-sidebar a{
  width: auto !important;
}

.nav-sidebar a ul{
  max-width: 60% !important;
  li{
    display: inline !important;
  }
  a{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.icon-colour:hover { 
  div button{
    color: #3D6ECF !important;
  }
  a .icon-grip{
    color: #3D6ECF !important;
}
}

 .button-style{
  background-color: #3D6ECF;
  color: #FFFFFF;
  width: 104px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px !important;
  white-space: nowrap;
 }

.search-r{
  width:560px;
  height: 48px;
  padding:0px 8px;
  border: 1px solid #878787 !important;
  border-radius: 8px !important;
  color: #878787 !important;
}

.button-space .btn{
  color: #3D6ECF;
}

.table-hover tbody tr:hover {
  background-color: #F6F6F6 !important;
}

.table-hover tbody tr{
  color: #373737 !important;
  font-size: 16px !important;
}

.dropdown-toggle::after{
  margin-left: 16px;
}

// button.carat-test{
//   color: #373737 ;
// }

// button.carat-test:hover{
//   color: #373737 ;
// }

.custom-checkbox .custom-control-label::before {
  border-radius: 2.4px !important;
  width: 24px;
  height: 24px;
  top: 0px !important;
}

.custom-control-label::after {
  border-radius: 2.4px !important;
  width: 24px;
  height: 24px;
  top: 0px !important;
}

.card{
   border-radius: 8px !important;
}

.vertical-line::after {
  content: '';
  display: block;
  border-left: 0.5px solid #D4D4D4; /* Adjust color and thickness as needed */
  height:100%; /* Adjust height as needed */
}

.shortcuticon-color{
  color:#878787;
  width: 24px;
  height:24px;
  justify-content: center;
}
.shortcuticon-medium{
    width:22px !important;
    height: 21px !important;
}

.search-body{
  padding: 24px 16px 24px 16px;
}

.shortcut-icon{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  color: #878787 !important;
}

.btn:hover {
    color:#878787!important;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.headtitle{
   font-size:23px;
   font-weight: 500;
   color:#373737;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pagination{
  color: #3D6ECF;
}

.sample{
  // width:848px !important;
  // height:169px !important;
  color:#3D6ECF;
}
.record-list-table tbody{
  tr{
    td{
      vertical-align: middle;
      div{
        div{
          white-space: nowrap;
          div.rt-content{
            p{
            white-space: nowrap !important;
            }
          }
        }
      }
    }
  }
}

// .card-header{
//   color: red !important;
// }

// .card-body div{
//   display: flex !important;
// }

// .card{
//   width: 848px !important;
// }